<div class="page-header">
  <h2>Comments</h2>
</div>

<%= render 'shared/comment_form', type: type, id: id %>

<div class="row">
  <div class="col-sm-12">
    <div class="hr"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <% if comments.length < 1 %>
      <h3>No comments yet...</h3>
    <% end %>
      <% comments.order(created_at: :desc).each do |comment| %>
      <div class="media" style="margin-bottom: 10px;border-bottom: 1px solid #ccc;">
        <div class="media-left media-middle">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= comment.user.email %></h4>
          <% if comment.user == current_user %>
          <form action="<%= comment_url(comment) %>" method="post">
            <%= auth_token %>
            <input type="hidden" name="_method" value="delete">
            <button class="btn btn-danger btn-xs pull-right">Delete</button>
          </form>
          <% end %>
          <small><%= time_ago_in_words(comment.created_at) %> ago</small>
          <div class="col-sm-12">
            <%= comment.text %>
          </div>
        </div>
      </div>
      <% end %>

  </div>
</div>
