<% content_for :breadcrumbs do %>
<ol class="breadcrumb">
  <li><a href="<%= bands_url %>">All Bands</a></li>
  <li><a href="<%= band_url(@album.band) %>"><%= @album.band.name %></a></li>
  <li class="active"><%= @album.name %></li>
</ol>
<% end %>

<div class="page-header">
  <h1><%= @album.name %> - <small><%= @album.band.name %></small></h1>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <img src="<%= @album.featured_image %>" class="img-responsive" />
  </div>
</div>
<div class="page-header">
  <h2>Tracks - <small><a href="<%= new_album_track_url(@album) %>">Add new track</a></small></h2>
</div>
<div class="row">
  <% if @album.tracks.length < 1 %>
  <div class="col-sm-6 col-md-4">
    <h3>No tracks yet!</h3>
  </div>
  <% else %>
  <div class="panel panel-primary">
    <!-- Table -->
    <table class="table">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th class="text-right">Actions</th>
      </tr>
      <% @album.tracks.order(:name).each_with_index do |track, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to track.name, track_url(track) %></td>
        <td><%= track.track_type.capitalize %></td>
        <td class="text-right">
          <form action="<%= track_url(track) %>" method="post">
            <%= auth_token %>
            <input type="hidden" name="_method" value="delete">
            <a href="<%= track_url(track) %>" class="btn btn-success btn-xs" role="button">Lyrics</a>
            <% if current_user.is_admin? || track.user == current_user %>
            <a href="<%= edit_track_url(track) %>" class="btn btn-primary btn-xs" role="button">Edit</a>
            <button href="#" class="btn btn-danger btn-xs" role="button">Delete</button>
            <% end %>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</div>
<%= render 'shared/comment_section', comments: @album.comments, type: 'Album', id: @album.id %>
