<% content_for :breadcrumbs do %>
<ol class="breadcrumb">
  <li><a href="<%= bands_url %>">All Bands</a></li>
  <li class="active"><%= @band.name %></li>
</ol>
<% end %>

<div class="page-header">
  <h1><%= @band.name %> <small><%= @band.albums.count %> albums and <%= @band.songs.count %> songs.</small></h1>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <img src="<%= @band.featured_image %>" class="img-responsive" />
  </div>
</div>
<div class="page-header">
  <h2>Albums - <small><a href="<%= new_band_album_url(@band) %>">Add new album</a></small></h2>
</div>
<div class="row">
  <% if @band.albums.length < 1 %>
  <div class="col-sm-6 col-md-4">
    <h3>No albums yet!</h3>
  </div>
  <% end %>
  <% @band.albums.order(:name).each do |album| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= album.featured_image %>" alt="">
      <div class="caption">
        <h3><%= album.name %></h3>
        <p><%= album.tracks.count %> tracks</p>
        <form action="<%= album_url(album) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="delete">
          <a href="<%= album_url(album) %>" class="btn btn-success" role="button">Tracks</a>
          <a href="<%= edit_album_url(album) %>" class="btn btn-primary" role="button">Edit</a>
          <button href="#" class="btn btn-danger" role="button">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% end %>
</div>
