<% content_for :breadcrumbs do %>
<ol class="breadcrumb">
  <li class="active">All Bands</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Search Results</h1>
</div>
<% if @bands.length > 0 %>
<div class="page-header">
  <h2>Bands</h2>
</div>
<div class="row">
  <% @bands.each do |band| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="<%= band_url(band) %>">
        <img src="<%= band.featured_image %>" alt="">
      </a>
      <div class="caption">
        <h3><%= band.name %></h3>
        <p><%= band.albums.count %> albums, <%= band.songs.count %> songs</p>
        <form action="<%= band_url(band) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="delete">
          <a href="<%= band_url(band) %>" class="btn btn-success" role="button">Albums</a>
        </form>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% if @albums.length > 0 %>
<div class="page-header">
  <h2>Albums</h2>
</div>
<div class="row">
  <% @albums.each do |album| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="<%= album_url(album) %>">
        <img src="<%= album.featured_image %>" alt="">
      </a>
      <div class="caption">
        <h3><%= album.name %></h3>
        <p><%= album.tracks.count %> tracks</p>
        <p>
          <a href="<%= album_url(album) %>" class="btn btn-success" role="button">Tracks</a>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% if @tracks.length > 0 %>
<div class="page-header">
  <h2>Tracks</h2>
</div>
<div class="row">
  <% @tracks.each do |track| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= track.name %></h3>
        <p><%= track.lyrics[0..40] %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% if @users.length > 0 %>
<div class="page-header">
  <h2>Users</h2>
</div>
<div class="row">
  <% @users.each do |user| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= user.email %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
